インポート

In [1]:
# 必要なライブラリのインポート
import requests
from bs4 import BeautifulSoup
import pandas as pd
from pprint import pprint

スクレイピングするURL

In [2]:
# globisのURLを設定する
#カテゴリごとになっているURL
url_content = "https://www.soumu.go.jp/toukei_toukatsu/index/seido/sangyo/02toukatsu01_03000044.html#a"

In [13]:
# レスポンスを取得する
res = requests.get(url_content)
res.encoding = res.apparent_encoding  # 自動的に文字コードを検出して設定

# 取得結果をsoupに格納する
soup = BeautifulSoup(res.content, 'html.parser')

In [14]:
#カテゴリとして講義内容を取ってくる
contents = soup.find_all('h3')

In [15]:
# 取得できていることを確認する
len(contents)
#もっとみるの中は取れてこれていない

99

In [16]:
content = contents[0]

In [24]:
data_list = [content.text for content in contents]
df = pd.DataFrame(data_list, columns=['Category'])

In [25]:
df

                Category
0             中分類　01　　農業
1             中分類　02　　林業
2   中分類　03　　漁業（水産養殖業を除く）
3          中分類　04　　水産養殖業
4   中分類　05　　鉱業，採石業，砂利採取業
..                   ...
94     中分類　95　　その他のサービス業
95          中分類　96　　外国公務
96          中分類　97　　国家公務
97          中分類　98　　地方公務
98        中分類　99　分類不能の産業

[99 rows x 1 columns]

In [26]:
# Categoryカラムを分解して新しいカラムを追加
df[['分類', 'ID', 'Category']] = df['Category'].str.extract(r'(.*?)\s(\d+)\s(.*)')

# '中分類'カラムを削除
df.drop('分類', axis=1, inplace=True)

In [27]:
print(df)

         Category  ID
0             　農業  01
1             　林業  02
2   　漁業（水産養殖業を除く）  03
3          　水産養殖業  04
4   　鉱業，採石業，砂利採取業  05
..            ...  ..
94     　その他のサービス業  95
95          　外国公務  96
96          　国家公務  97
97          　地方公務  98
98        分類不能の産業  99

[99 rows x 2 columns]

In [28]:
df

         Category  ID
0             　農業  01
1             　林業  02
2   　漁業（水産養殖業を除く）  03
3          　水産養殖業  04
4   　鉱業，採石業，砂利採取業  05
..            ...  ..
94     　その他のサービス業  95
95          　外国公務  96
96          　国家公務  97
97          　地方公務  98
98        分類不能の産業  99

[99 rows x 2 columns]

In [30]:
df.to_csv('output.csv', index=False, encoding='shift_jis')